body {
    background-color: rgb(57, 54, 66) ;
}

.fs-30 {
    font-size: 30px;
}

.fs-16 {
    font-size: 16px;
}

h1 {
    font-size: 40px;
    color: rgb(56, 13, 13);
}

li {
    color: whitesmoke;
}

h2 {
    color: rgb(37, 0, 0);
}